.course{
  overflow-y: auto;
  height: 100%;
}



.course-modules{
  padding: 10%;
  padding-top: 5%
  
}

.module-container{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-module{
    align-content: center;
    width: 70%;
    height: 70%;
    border-radius: 15px;
    font-size: large;
    background-color: var(--bg-buttons);
    color: var(--text-primary);
    border: 1;
    box-shadow: 0 4px 10px var(--bg-shadow);
}