/* Container for whole page */
.Home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: var(--bg-light);

}
.topbar-container{
  flex-grow: 1;
  max-height: 52px;
  /* flex-basis: 100%; */
}
.main-content {
  display: flex;
  /* flex-direction: column;   stack course on top, chat on bottom */
  flex: 1;                  /* take remaining space next to sidebar */
  min-width: 0;             /* allow content to shrink without overflowing */
}


.Course-chat{
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 90vh;
  width: 30vw;
  /* justify-content: space-around; */
}

.Course-container{
  height: 90%;
}



