.sidebar-container {
    max-width: 250px;
    background-color: var(--bg-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex: 1;
    border-radius: 10px;
    box-shadow: 0 4px 10px var(--bg-shadow);
    transition: transform 0.3s ease, margin-right 0.3s ease;
}

.sidebar-container.collapse {
    transform: translateX(-100%);
    margin-right: -250px;
}

.sidebar-container.open {
  transform: translateX(0);
}

.sidebar-top {
    flex: 1;   /* grow & shrink */
    min-height: 0;    /* critical so it can shrink inside a flex column */
    overflow-y: auto; /* scroll if content too tall */
}

.sidebar-course-list{

    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
}

.course-title{
    width: 240px;
    height: 30px;
    margin-bottom: 5px;
    padding: 3px;
}

.btn-title{
    padding: 5px;
    width: 240px;
    height: 40px;
    border-radius: 8px;
    border: 0;
    background-color: var(--bg-light);
    color: var(--text-primary);
    text-align: left;
    transition: all 0.3s ease;

}

.btn-title:hover{
    background-color: var(--bg-hover);
    cursor: pointer;
}

.btn-title.selected {
  background-color: var(--bg-hover);
  color: white;
}

.sidebar-bottom{
    width: 250px;
    /* background-color: aqua; */

    display: flex;
    flex-shrink: 0;
    flex-direction: row;
 
    box-shadow: 0 4px 20px var(--bg-shadow);
   
    border-radius: 10px;
  
}
.sidebar-bottom .avatar{
    border-radius: 50%;
    width: 50px;
  
    margin: 5px;
    
}
.sidebar-bottom .user-name{

    align-self: center;
    text-align: left;
    
    width: 150px;
    /* height: 25px; */
    /* margin-left: 5px; */
    
    /* background-color: yellow; */
}

.sidebar-bottom .logout{
    background: none;
    border:none;
    color: red;
    /* height: 40px; */
    width: 40px;
    align-self: center;
    margin: 5px;
}

.sidebar-bottom .logout:hover{
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 10px var(--bg-shadow);
}