
*{
  padding: 0;
  margin: 0;
}

:root[data-theme="light"] {
  --bg-light: #DDDBD9;
  --text-primary: #14140D;
}

:root[data-theme="dark"] {
  --bg-light: #181818;
  --text-primary: #ffffff;
  --bg-shadow : #000000;
  --bg-hover: #444444;
  --bg-buttons: #292725;
  --bg-light2 : #554940;
}
