
*{
  padding: 0;
  margin: 0;
}

:root[data-theme="light"] {
  --bg-light: #DDDBD9;
  --text-primary: #14140D;
}

:root[data-theme="dark"] {
  --bg-light: #181818;
  --text-primary: #ffffff;
  --bg-shadow : #000000;
  --bg-hover: #3d3d3d;
  --bg-buttons: #292725;
}
