/* ---------- Lesson Page Container ---------- */
.lesson-container {
    background-color: var(--bg-light); /* dark background */
    color: #e0e6f0; /* main text color */
    min-height: 100vh;
    padding: 3rem;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
 
    /* align-items: flex-start;  */
}

.btn-back{
    align-self: flex-start;
    width: 10%;
    height: 3em;
    border-radius: 15px;
    background-color: var(--bg-buttons);
    color: var(--text-primary);
    margin: 15px;
    
}
.btn-back:hover{
    background-color: var(--bg-hover);
    cursor: pointer;
}
